mixin list(title,time,brief,url)
	.content&attributes(attributes)
		div.header
			h3
				a.link(href=url)
					span= title
			div.center
				.content-subhead.content-dist
					!=brief
			i.fa.fa-calendar.content-subhead.weight= time

mixin listHome(title,time,brief,url)
	.content&attributes(attributes)
		div.height.contentHome
			h3.center
				a.link(href=url)
					span= title
			.section
				div.markdown-body
					!=brief
		div.center
			i.fa.fa-calendar.content-subhead.weight= time

			

#main

		if is_home()
			each post,index in page.posts.toArray()
				+listHome(post.title,' '+full_date(post.date,'YYYY-MM-DD H:mm'),post.content,url_for(post.path))(class=index==0?"slected":"")
		
		else
			each post,index in page.posts.toArray()
				+list(post.title,' '+full_date(post.date,'YYYY-MM-DD H:mm'),strip_html(post.excerpt?post.excerpt:post.abstract),url_for(post.path))(class=index==0?"slected":"")

