mixin tags(tag)
	i.fa.fa-vine.tags
		a.link(href=url_for(tag.path))=tag.name

mixin comment(post)
	.comment
		if post.comments && theme.duoshuo_shortName
			.section#article-comment
				.ds-thread(
				data-thread-key=post.permalink,
				data-title=post.title,
				data-url=post.permalink)

mixin content(post)
	.contentPage
		h1.center#title= post.title
		.section
			.span
				i.fa.fa-neuter.weight= full_date(post.date,'YYYY-MM-DD H:mm')
				each tag in post.tags.toArray()
					+tags(tag)
				i.fa.fa-commenting.indent
					a.link(href="#article-comment") Comments
		.section.shadow
			div.markdown-body
				!=post.content
		#page
			if is_post()
				div
				if post.prev
					a.pageLink.indent(href=url_for(post.prev.path)) 上一篇：
						span= post.prev.title
				div
				if post.next
					a.pageLink.indent(href=url_for(post.next.path)) 下一篇：
						span= post.next.title
	
include _comment

#main
	if is_home()
		- var posts=page.posts.toArray()
		- var indexpost=posts[0]
		.section
			+content(indexpost)
			+comment(indexpost)
	else if is_post()
		.section
			+content(page)
			+comment(page)
	else
		- var posts=page.posts.toArray()
		- var indexpost=posts[0]
		.section
			+content(indexpost)
			+comment(indexpost)